<div style="text-align: center">
    <h1>Create New User</h1>
</div>
<hr/>
<form>
    <div class="row">
        <div class="small-offset-2 small-8 columns">
            <div class="row">
                <div class="small-4 columns">
                    <label class="right inline">Email Address</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" ng-model="user.email"  placeholder="Email Address">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label class="right inline">Password</label>
                </div>
                <div class="small-8 columns">
                    <input type="password" ng-model="user.password" placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="small-4 columns">
                    <label class="right inline">Password Confirmation</label>
                </div>
                <div class="small-8 columns">
                    <input type="text" placeholder="Password">
                </div>
            </div>
            <a href="#" class="button expand" ng-click="ok()">Create User</a>
        </div>
    </div>
</form>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>