<navigation-bar active-nav-element="'profile'"></navigation-bar>
<div style="text-align: center">
    <h1>Create New Company Profile</h1>
</div>
<hr/>
<form name="companyProfileForm" ng-submit="submitCompanyProfileForm(companyProfileForm.$valid)" novalidate>
    <div class="row">
        <div class="medium-4 column">
            <div class="medium-12 column">
                <input ng-model="companyProfile.lookingForWork" type="checkbox"/><label>Looking For Help</label>
            </div>
            <div class="medium-12 column">
                <input ng-model="companyProfile.needWork" type="checkbox"/><label>Need Work</label>
            </div>
            <hr/>
            <div class="medium-12 column">
                <label ng-class="{error:companyProfileForm.c_name.$invalid && !companyProfileForm.c_name.$pristine}">Company Name
                    <input ng-model="companyProfile.companyName" name="c_name" type="text" placeholder="Company Name" required/>
                </label>
                <small class="error" ng-show="companyProfileForm.c_name.$invalid && !companyProfileForm.c_name.$pristine">A company name is required!</small>
            </div>
            <div class="medium-12 column">
                <label ng-class="{error:companyProfileForm.c_email.$invalid && !companyProfileForm.c_email.$pristine}">Email Address
                    <input ng-model="companyProfile.emailAddress" name="c_email" type="email" placeholder="Email Address" required/>
                </label>
                <small class="error" ng-show="companyProfileForm.c_email.$invalid && !companyProfileForm.c_email.$pristine">Email address is needed.</small>
            </div>
            <div class="medium-12 column">
                <label>Work Number
                    <input ng-model="companyProfile.workNumber" type="tel" placeholder="Work Number"/>
                </label>
            </div>
            <div class="medium-12 column">
                <button type="submit" class="button small" ng-disabled="companyProfileForm.$invalid">Save</button>
            </div>
        </div>
        <div class="medium-8 column">
            <label>Company Information
                <textarea ng-model="companyProfile.bio" rows="7" placeholder="General information about company"></textarea>
            </label>
            <tags tag-collection-name="'Required Work Experience'"></tags>
        </div>
    </div>
</form>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>