<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/profile">Induco</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li ng-class="{active:activeNavElement == 'profile'}"><a href="#/profile">Profile</a></li>
                <li ng-class="{active:activeNavElement == 'dashboard'}"><a href="#/dashboard">Dashboard</a></li>
                <li ng-class="{active:activeNavElement == 'search'}"><a href="#/search">Search</a></li>
                <li class="divider"></li>
                <li class="has-form">
                    <a href="#/" ng-click="signOut()" class="button round alert">Sign Out</a>
                </li>
            </ul>
        </section>
    </nav>
</div>