<div class="small-12 column">
    <fieldset>
        <legend>{{tagCollectionName}} Tags</legend>
        <div class="small-12 column">
            <label>Name
                <div class="row collapse">
                    <div class="small-10 columns">
                        <input type="text" ng-model="tagName" placeholder="Insert tag name here....">
                    </div>
                    <div class="small-2 columns">
                        <button class="button postfix" ng-click="addTag(tagName)">Add</button>
                    </div>
                </div>
            </label>
            <label>Tags</label>
            <div id="tagsResult">
                <span ng-repeat="tag in tagCollection" class="label tagsItem">{{tag.name}}<a class="removeTag" ng-click="remove(tag.name)">&#215;</a></span>
            </div>
        </div>
    </fieldset>
</div>
