body {
    background-color: #333333;
}

#appHeading{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-size: 600%;
    font-weight: bold;
    color: yellowgreen;
    font-style: oblique;
}

#createAccount{
    text-align: center;
}


