<div class="row">
    <div class="col-md-offset-4">
        <h1>Induco</h1>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="col-md-6">
        <img src="img/Koala.jpg" class="img-responsive, img-rounded" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <div class="col-md-offset-3">
            <img src="img/Koala-thumbnail.jpg" class="img-responsive, img-rounded" alt="Responsive image">
        </div>

        <h3> Direct your skills to where they are needed....</h3>
        <br/>
        <br/>
        <br/>

        <div class="col-md-offset-3">
            <button type="button" class="btn btn-primary" ng-click="signIn()">Sign In</button>
            <button type="button" class="btn btn-default" ng-click="register()">Register</button>
        </div>
    </div>
</div>
<p class="text-center col-md-offset-3">Learn More</p>
<a href="#/dashboard">Dashboard</a>
<a href="#/search">Search</a>
<a href="#/profile">Profile</a>