<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <p id="appHeading" class="text-center">Induco</p>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class="medium-offset-2 medium-4 column">
        <img src="http://placehold.it/200x200"/>
    </div>
    <div class="medium-6 column">
        <h3> Direct your skills to where they are needed....</h3>
        <br/>
        <br/>
        <br/>
        <span id="signinButton">
            <span
                    class="g-signin"
                    data-callback="signinCallback"
                    data-clientid="907945139632-72um3uat0epi2o59fb4ci0b2a2sls7o9.apps.googleusercontent.com"
                    data-cookiepolicy="single_host_origin"
                    data-scope="profile">
            </span>
        </span>
    </div>
</div>

