<h1>Personal Profile</h1>
<hr/>
<form name="personProfileForm" ng-submit="submitPersonProfileForm(personProfileForm.$valid)" novalidate>
    <div class="row">
        <div class="medium-4 column">
            <div class="medium-12 column">
                <input ng-model="person.needHelp" type="checkbox"/><label>Looking For Help</label>
                <input ng-model="person.needWork" type="checkbox"/><label>Need Work</label>
            </div>
            <div class="medium-12 column">
                <label ng-class="{error:personProfileForm.p_firstName.$invalid && !personProfileForm.p_firstName.$pristine}">FirstName
                    <input ng-model="person.firstName" name="p_firstName" type="text" placeholder="First Name" required/>
                </label>
                <small class="error" ng-show="personProfileForm.p_firstName.$invalid && !personProfileForm.p_firstName.$pristine">A first name is required!</small>
            </div>
            <div class="medium-12 column">
                <label ng-class="{error:personProfileForm.p_surname.$invalid && !personProfileForm.p_surname.$pristine}">Surname
                    <input ng-model="person.surname" name="p_surname" type="text" placeholder="Surname" required/>
                </label>
                <small class="error" ng-show="personProfileForm.p_surname.$invalid && !personProfileForm.p_surname.$pristine">A surname is required!</small>
            </div>
            <div class="medium-12 column">
                <label ng-class="{error:personProfileForm.p_emailAddress.$invalid && !personProfileForm.p_emailAddress.$pristine}">Email Address
                    <input ng-model="person.emailAddress" name="p_emailAddress" type="email" placeholder="Email Address" required/>
                </label>
                <small class="error" ng-show="personProfileForm.p_emailAddress.$invalid && !personProfileForm.p_emailAddress.$pristine">Please insert a valid email address!</small>
            </div>
            <div class="medium-12 column">
                <label>Mobile Number
                    <input ng-model="person.mobileNumber" type="text" placeholder="Mobile Number"/>
                </label>
            </div>
            <div class="medium-12 column">
                <label>Work Experience Tags
                    <div class="row collapse">
                        <div class="medium-10 columns">
                            <input type="text" ng-model="tagName" placeholder="Tag Name">
                        </div>
                        <div class="medium-2 columns">
                            <button class="button postfix" ng-click="addTag(tagName)">Add Alert</button>
                        </div>
                    </div>
                </label>
            </div>
            <div class="medium-12 column">
                <button type="submit" class="button small" ng-disabled="personProfileForm.$invalid">Save</button>
            </div>
        </div>
        <div class="medium-8 column">
            <label>Personal Information
                <textarea rows="4" ng-model="person.personalInfo" placeholder="This can be stretched"></textarea>
            </label>
            <label ng-show="person.needWork">Work Experience Summary
                <textarea rows="4" ng-model="person.workExp" placeholder="This can be stretched"></textarea>
            </label>
            <label ng-show="person.needHelp">What You Looking For
                <textarea rows="4" ng-model="person.requiredWork" placeholder="This can be stretched"></textarea>
            </label>

            <div class="medium-12 columns" style="border: 1px solid #cccccc;">
                <h5 class="subheader">Work Experience Tags</h5>
                <hr/>
                <div ng-show="person.workExpTags.length == 0"><em>Please add work experience tags</em></div>
                <alert ng-repeat="tag in person.workExpTags" type="tag.type" close="closeTag($index)">
                    {{tag.msg}}
                </alert>
            </div>
        </div>
    </div>
</form>