<div class="contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/profile">Induco</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li class="active"><a href="#">Profile</a></li>
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/search">Search</a></li>
            </ul>
        </section>
    </nav>
</div>
<div class="row">
    <div class="medium-12 column">
        <tabset>
            <tab heading="Person Profile">
                <h1>Personal Profile</h1>
                <hr/>
                <form name="profileForm" ng-submit="submitProfileForm(profileForm.$valid)" novalidate>
                    <div class="row">
                        <div class="medium-4 column">
                            <div class="medium-12 column">
                                <input ng-model="person.needHelp" type="checkbox"/><label>Looking For Help</label>
                                <input ng-model="person.needWork" type="checkbox"/><label>Need Work</label>
                            </div>
                            <div class="medium-12 column"><label
                                    ng-class="{error:profileForm.p_firstName.$invalid && !profileForm.p_firstName.$pristine}">First
                                Name
                                <input ng-model="person.firstName" name="p_firstName" type="text"
                                       placeholder="First Name" required/>
                            </label>
                                <small class="error"
                                       ng-show="profileForm.p_firstName.$invalid && !profileForm.p_firstName.$pristine">
                                    A
                                    first name is required!
                                </small>
                            </div>
                            <div class="medium-12 column">
                                <label ng-class="{error:profileForm.p_surname.$invalid && !profileForm.p_surname.$pristine}">Surname
                                    <input ng-model="person.surname" name="p_surname" type="text" placeholder="Surname"
                                           required/>
                                </label>
                                <small class="error"
                                       ng-show="profileForm.p_surname.$invalid && !profileForm.p_surname.$pristine">A
                                    surname is required!
                                </small>
                            </div>
                            <div class="medium-12 column">
                                <label ng-class="{error:profileForm.p_emailAddress.$invalid && !profileForm.p_emailAddress.$pristine}">Email
                                    Address
                                    <input ng-model="person.emailAddress" name="p_emailAddress" type="email"
                                           placeholder="Email Address"
                                           required/>
                                </label>
                                <small class="error"
                                       ng-show="profileForm.p_emailAddress.$invalid && !profileForm.p_emailAddress.$pristine">
                                    Please
                                    insert a valid email address!
                                </small>
                            </div>
                            <div class="medium-12 column">
                                <label>Mobile Number
                                    <input ng-model="person.mobileNumber" type="text" placeholder="Mobile Number"
                                           required/>
                                </label>
                            </div>
                            <div class="medium-12 column">
                                <label>Other Number
                                    <input ng-model="person.otherNumber" type="text" placeholder="Other Number"
                                           required/>
                                </label>
                            </div>
                            <div class="medium-12 column">
                                <button type="submit" class="button small" ng-disabled="profileForm.$invalid">Save
                                </button>
                            </div>
                        </div>
                        <div class="medium-8 column">
                            <label>Personal Information
                                <textarea rows="4" ng-model="person.personalInfo"
                                          placeholder="This can be stretched"></textarea>
                            </label>
                            <label ng-show="person.needWork">Work Experience Summary
                                <textarea rows="4" ng-model="person.workExp"
                                          placeholder="This can be stretched"></textarea>
                            </label>
                            <label ng-show="person.needHelp">What You Looking For
                                <textarea rows="4" ng-model="person.requiredWork"
                                          placeholder="This can be stretched"></textarea>
                            </label>
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="Company Profile">
                <h1>Company Profile</h1>
                <hr/>
            </tab>
            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active">
                {{tab.content}}
            </tab>
        </tabset>
    </div>
</div>

