<h1 class="text-center">This is your profile page</h1>
<form>
    <div class="row">
        <div class="medium-4 column">
            <input id="lookingForWork" type="checkbox"/><label for="lookingForWork">Looking For Work</label>
            <input id="needWork" type="checkbox"/><label for="needWork">Need Work</label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 column">
            <label for="firstName">First Name
                <input id="firstName" type="text" placeholder="First Name"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 column">
            <label for="surname">Surname
                <input id="surname" type="text" placeholder="Surname"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 column">
            <label for="emailAddress">Email Address
                <input id="emailAddress" type="email" placeholder="Email Address"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 column">
            <a href="#" class="button small">Save</a>
        </div>
    </div>
</form>